node_modules/
build/
tmp/

# python temporary files
__pycache__/

# ide specific files
.idea/
*.code-workspace
.vscode/

# tmp mac files
.DS_Store

# credentials and binaries
lively-sentry-*.json
cloud-sql-proxy

# python environment
.python-version
.venv/
treeapi/treemapvenv/
pyproject.toml
uv.lock

# data artifacts
stiles.trees.csv
trees.db
