version: 2

jobs:
  deploy:
    docker:
      - image: google/cloud-sdk:228.0.0
    steps:
      - checkout
      - run: curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.11/install.sh | bash
      - run: ./python-env.sh
      - run: echo 'export NVM_DIR=$HOME/.nvm' >> $BASH_ENV
      - run: echo 'source $NVM_DIR/nvm.sh' >> $BASH_ENV
      - run: echo 'export PATH="$HOME/miniconda/bin:$PATH"' >> $BASH_ENV
      - run: echo 'source activate public-tree-map' >> $BASH_ENV
      - run: nvm install 9.11.1
      - run: nvm use 9.11.1
      - run: npm install
      - run: make release
      - run: |
          echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
          gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run: gsutil cp -Z build/data/map.json gs://public-tree-map/data/
      - run: gsutil -m cp -Z build/data/trees/*.json gs://public-tree-map/data/trees/
      - run: gsutil setmeta -h "Cache-Control:public, max-age=43200" gs://public-tree-map/data/map.json
      - run: gsutil -m setmeta -h "Cache-Control:public, max-age=43200" gs://public-tree-map/data/trees/*.json
      - run: gsutil -m cp -r build/img gs://public-tree-map/

      - store_artifacts:
          path: tmp/log.txt
          destination: log.txt

workflows:
  version: 2
  commit:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
  nightly:
    triggers:
      - schedule:
          # Midnight PST is 8am UTC
          cron: "0 8 * * *"
          filters:
            branches:
              only: master
    jobs:
      - deploy
